.version.sanpham /* version checker */
{
	color: #0000FA;
	background-color: #509676;
}

#page
{
	z-index: 1;
	width: 1033px;
	min-height: 409px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 29px 20px 62px 117px;
}

#menuu147
{
	z-index: 2;
	width: 446px;
	margin-left: 587px;
	position: relative;
}

#u148
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u151
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u151:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u151:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u151:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#u158
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u151.MuseMenuActive,#u158:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u158:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u158.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u160-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u151.MuseMenuActive #u154-4,#u158:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u158.MuseMenuActive #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 148px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u229
{
	width: 148px;
	padding-bottom: 17px;
	position: relative;
}

#u229:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u229:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u229.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u230-4
{
	width: 148px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u229:hover #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u229:active #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u229.MuseMenuActive #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u199-4
{
	z-index: 21;
	width: 357px;
	min-height: 69px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	margin-left: 290px;
	margin-top: 36px;
	position: relative;
}

#u209
{
	z-index: 25;
	width: 840px;
	background-color: transparent;
	margin-top: 98px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

