.version.sanpham /* version checker */
{
	color: #0000FC;
	background-color: #507312;
}

#page
{
	z-index: 1;
	width: 840px;
	min-height: 338.9571428571428px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 99px 213px 62.0428571428572px 117px;
}

#u199-4
{
	z-index: 2;
	width: 357px;
	min-height: 69px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	margin-left: 290px;
	position: relative;
}

#u209
{
	z-index: 6;
	width: 840px;
	background-color: transparent;
	margin-top: 98px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

